texmf-dist/doc/latex/latex-web-companion/apb/invitation2.dtd

<!-- invitation2 DTD     -->
<!-- August 14th 1998 mg -->
<!ENTITY % i18n   "xml:lang NMTOKEN #IMPLIED">
<!ELEMENT invitation (par+)>
<!ATTLIST invitation 
                %i18n;
                date      CDATA #REQUIRED
                to        CDATA #REQUIRED
                signature CDATA #REQUIRED 
                where     CDATA #REQUIRED
                why       CDATA #IMPLIED
>
<!ELEMENT par        (#PCDATA|emph)*>
<!ELEMENT emph       (#PCDATA)>

