texmf-dist/doc/latex/latex-web-companion/apb/latexmath.dtd

<!-- latexmath.dtd +++ inline and display math -->
<!ELEMENT  inlinemath  (#PCDATA)>
<!ATTLIST  inlinemath  %all;>
<!ELEMENT  displaymath (#PCDATA)>
<!ATTLIST  displaymath %all;>
<!ELEMENT  equation    (#PCDATA)>
<!ATTLIST  equation    %all;>
<!ELEMENT  eqnarray    (#PCDATA)>
<!ATTLIST  eqnarray    %all;>
<!ELEMENT  align       (#PCDATA)>
<!ATTLIST  align       %all;>
